<div 
  data-controller="dashboards-index"
  data-audio-host-url="<%= Rails.application.config.audio_host_url %>"
  class="flex flex-row"
>
  <div class="w-1/3">
    <p class="font-bold text-lg">Browse Feeds</p>
    <div class="flex flex-row justify-between">
      <button
        class="mx-2 py-2 px-4 w-full rounded-lg font-medium cursor-pointer bg-blue-500 text-white"
        data-dashboards-index-target="listViewButton"
        data-action="click->dashboards-index#showListView"
        data-test-id="list-view-button"
      >
        List View
      </button>
      <button
        class="mx-2 py-2 px-4 w-full rounded-lg font-medium cursor-pointer bg-gray-100 text-gray-700"
        data-dashboards-index-target="mapViewButton"
        data-action="click->dashboards-index#showMapView"
        data-test-id="map-view-button"
      >
        Map View
      </button>
      <button
        class="mx-2 py-2 px-4 w-full rounded-lg font-medium cursor-pointer bg-gray-100 text-gray-700"
        data-dashboards-index-target="presetViewButton"
        data-action="click->dashboards-index#showPresetView"
        data-test-id="preset-view-button"
      >
        Presets
      </button>
    </div>

    <div
      class="max-h-2/3 overflow-scroll"
      data-dashboards-index-target="listView"
      data-test-id="audio-feed-list"
    >
      <div class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="absolute left-3 top-[1rem] text-gray-400 w-[1.5rem]"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
        <input
          placeholder="Search by name"
          class="w-full mt-2 pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          data-action="keydown->dashboards-index#searchFeeds"
          data-test-id="audio-feed-search"
        />
      </div>
      <% @audio_feeds.each do |audio_feed| %>
        <div class="min-w-md mt-2">
          <div
            class="border border-gray-300 rounded-md p-2 cursor-pointer audio-feed-item"
            data-action="click->dashboards-index#addFeedFromEvent"
            data-id="<%= audio_feed.id %>"
            data-name="<%= audio_feed.name %>"
            data-latitude="<%= audio_feed.latitude %>"
            data-longitude="<%= audio_feed.longitude %>"
            data-city="<%= audio_feed.city %>"
            data-state="<%= audio_feed.state %>"
            data-remote-id="<%= audio_feed.remote_id %>"
          >
            <div class="flex flex-row justify-between">
              <div class="font-bold">
                <%= audio_feed.name %>
              </div>
              <%= render partial: "layouts/plus_svg", locals: { classes: "w-[1.5rem]" } %>
            </div>
            <div class="flex flex-row">
              <%= render partial: "layouts/map_pin_svg", locals: { classes: "w-[1rem]" } %>
              <div class="text-xs ml-1">
                <%= "#{audio_feed.city}, #{audio_feed.state}" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div
      class="hidden"
      data-dashboards-index-target="mapView"
      data-test-id="map-view"
    >
      <div
        id="leaflet-map"
        data-dashboards-index-target="map"
        class="mt-2 w-full min-h-150"
      >
      </div>
    </div>
    <div
      class="hidden"
      data-dashboards-index-target="presetView"
      data-test-id="preset-view"
    >
      <div
        class="hidden flex flex-row mt-2"
        data-dashboards-index-target="savePresetButton"
      >
        <button
          class="mx-2 py-2 px-4 w-full rounded-lg font-medium cursor-pointer bg-blue-500 hover:bg-blue-400 text-white"
          data-action="click->dashboards-index#savePreset"
          data-test-id="save-preset-button"
        >
          Save Preset
        </button>
      </div>

      <%= render "preset_item", locals: { id: "preset-template", classes: "hidden" } %>
      <% @presets.each do |preset| %>
        <%= render "preset_item", locals: { preset: preset } %>
      <% end %>
    </div>
  </div>
  <div class="ml-2 w-full h-screen bg-gray-100">
    <p class="font-bold text-lg bg-white">Playing Feeds</p>

    <div id="selected-feeds" class="min-w-md">
      <div
        id="selected-feed-template"
        class="border border-gray-300 rounded-md bg-white p-2 m-2 hidden selected-feed-item"
      >
        <div class="flex flex-row justify-between">
          <div class="font-bold selected-feed-name">
          </div>

          <%= render partial: "layouts/x_svg",
            locals: { classes: "w-[1.5rem] cursor-pointer selected-feed-remove" }
          %>
        </div>
        <div class="flex flex-row">
          <%= render partial: "layouts/map_pin_svg", locals: { classes: "w-[1rem]" } %>
          <div class="text-xs ml-1 selected-feed-location">
          </div>
        </div>
        <audio class="mt-2 selected-feed-player" controls></audio>
      </div>
    </div>
  </div>
</div>
