<div 
  data-controller="dashboards-index"
  class="flex flex-row"
>
  <div class="w-1/3">
    <p class="font-bold text-lg">Browse Feeds</p>
    <div class="flex flex-row justify-between">
      <button
        class="mx-2 py-2 px-4 w-full rounded-lg font-medium cursor-pointer bg-blue-500 text-white"
        data-dashboards-index-target="listViewButton"
        data-action="click->dashboards-index#showListView"
      >
        List View
      </button>
      <button
        class="mx-2 py-2 px-4 w-full rounded-lg font-medium cursor-pointer bg-gray-100 text-gray-700"
        data-dashboards-index-target="mapViewButton"
        data-action="click->dashboards-index#showMapView"
      >
        Map View
      </button>
      <button
        class="mx-2 py-2 px-4 w-full rounded-lg font-medium cursor-pointer bg-gray-100 text-gray-700"
        data-dashboards-index-target="presetViewButton"
        data-action="click->dashboards-index#showPresetView"
      >
        Presets
      </button>
    </div>

    <div data-dashboards-index-target="listView">
      <% @audio_feeds.each do |audio_feed| %>
        <div class="min-w-md mt-2">
          <div
            class="border border-gray-300 rounded-md p-2 cursor-pointer audio-feed-item"
            data-action="click->dashboards-index#addFeedFromEvent"
            data-id="<%= audio_feed.id %>"
            data-name="<%= audio_feed.name %>"
            data-latitude="<%= audio_feed.latitude %>"
            data-longitude="<%= audio_feed.longitude %>"
            data-city="<%= audio_feed.city %>"
            data-state="<%= audio_feed.state %>"
            data-remote-id="<%= audio_feed.remote_id %>"
          >
            <div class="flex flex-row justify-between">
              <div class="font-bold">
                <%= audio_feed.name %>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="text-gray-400 w-[1.5rem]"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
            </div>
            <div class="flex flex-row">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="text-gray-400 w-[1rem]"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                />
              </svg>
              <div class="text-xs ml-1">
                <%= "#{audio_feed.city}, #{audio_feed.state}" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="hidden" data-dashboards-index-target="mapView">
      <div
        id="leaflet-map"
        data-dashboards-index-target="map"
        class="w-full min-h-150"
      >
      </div>
    </div>
    <div class="hidden" data-dashboards-index-target="presetView">
      <p>Presets</p>
    </div>
  </div>
  <div class="ml-2 w-full h-screen bg-gray-100">
    <p class="font-bold text-lg bg-white">Playing Feeds</p>

    <div id="selected-feeds" class="min-w-md">
      <div
        id="selected-feed-template"
        class="border border-gray-300 rounded-md bg-white p-2 m-2 hidden"
      >
        <div class="flex flex-row justify-between">
          <div class="font-bold selected-feed-name">
            St. Augustine Airport
          </div>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="cursor-pointer text-gray-400 w-[1.5rem] selected-feed-remove"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </div>
        <div class="flex flex-row">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="text-gray-400 w-[1rem]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
            />
          </svg>
          <div class="text-xs ml-1 selected-feed-location">
            St. Augustine, FL
          </div>
        </div>
        <audio class="mt-2 selected-feed-player" controls></audio>
      </div>
    </div>
  </div>
</div>
